<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title>Search Page</title>
    <div class = "content">
        <h1 style="text-align-center"></h1>
        <div class="form">
            <form action="/weatherapp" method="post">
                <label for="city">Enter City: </label>
                <input type="text" name="city" id="city">
                
                <label for="appid" >Enter your API_KEY:</label>
                <input type="text" name="appid" id="appid">
                
                <label for="units" >Enter units:</label>
                <input type="text" name="units" id="units">

                <input type="Submit" value="Search">
            </form>
        </div>
    </div>
</body>
</html>